# build / output files
out/
*.class

# config files
PasswordManager.cfg

# password files
Passwords.txt
PasswordsBackup.txt

# Files added by OS
Thumbs.db
.DS_Store

# --- JetBrains IDE ---

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
